[submodule "PopEngineCommon"]
	path = PopEngineCommon
	url = https://github.com/NewChromantics/PopEngineCommon.git
[submodule "WebComponent_TreeView"]
	path = WebComponent_TreeView
	url = https://github.com/NewChromantics/WebComponent_TreeView.git
