#GotoXrButton
{
	visibility:	hidden;
	position:	absolute;
	top:		4vmax;
	left:		4vmax;
	xwidth:		10vmax;
	height:		8vmax;
	font-size:	8vmax;
	text-align:	center;
	padding:	2vmax;
	font-family:	sans-serif;
	font-weight:	bolder;
	background:	#eee;
	color:		#333;
	border:		dotted 0.5vmin #333;
}

